<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="jq" Language="1033" Version="$(var.ProductVersion)" Manufacturer="https://github.com/jqlang/jq" UpgradeCode="954da68c-81e5-4d4a-a466-07f15878fcdf">
    <SummaryInformation Description="Command-line JSON processor." />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Comments="jq v$(var.ProductVersion)" />
    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Product" ConfigurableDirectory="INSTALLDIR" Description="jq for Windows" Display="expand" Title="jq" AllowAbsent="no">
      <ComponentGroupRef Id="ProductComponents" />
      <Feature Id="EnvironmentPath" Description="Adds jq.exe to the system path." Title="Update system path" Level="2">
        <ComponentRef Id="EnvironmentPathComponent" />
      </Feature>
    </Feature>

    <UI>
      <ui:WixUI Id="WixUI_FeatureTree_NoLicense" />
    </UI>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLDIR" Name="jqlang" />
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <Files Include="$(var.ProductSource)" />
    </ComponentGroup>

    <Component Id="EnvironmentPathComponent" Guid="4c475fe7-0696-424b-a61c-b0060a3392d2" Directory="INSTALLDIR">
      <Environment Id="UpdatePath" Name="PATH" Action="set" Permanent="no" System="yes" Part="last" Value="[INSTALLDIR]" />
    </Component>
  </Package>

  <?foreach WIXUIARCH in X86;X64;A64?>
    <Fragment>
      <UI Id="WixUI_FeatureTree_NoLicense_$(WIXUIARCH)" />
      <UIRef Id="WixUI_FeatureTree_NoLicense" />
    </Fragment>
  <?endforeach?>

  <Fragment>
    <UI Id="file WixUI_FeatureTree_NoLicense">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Condition="NOT Installed" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1" Condition="Installed" />
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="NOT Installed" />
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="SetTargetPath" Value="[_BrowseProperty]" Order="3" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="EndDialog" Value="Return" Order="4" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1" Condition="NOT Installed OR WixUI_InstallMode = &quot;Change&quot;" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" Condition="Installed AND PATCH" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>